<!DOCTYPE html>
<html>
<head>
   <title>{% block title %}The Great Django Blog{% endblock %}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'music/base.html' %}

{%block content%}
<font size="+4" >Welcome to ABC Musical Store</font>
<hr size="2" width=30%" />

<font size="+4" >Mid Exam - IDS 2021</font>
{%endblock%}


</body>
</html>